[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
peewee = "*"
pyinstaller = "*"
appdirs = "*"
prompt-toolkit = "*"
pygments = "*"
regex = "*"
autopep8 = "*"
pyinquirer = "*"

[requires]
python_version = "3.7"
