body {
  background-color: #212121;
}
h1 {
  color: #fafafa;
}

p {
  color: #dadada;
}

button {
  outline: none;
  border-radius: 4px;
  background-color: rgb(180, 255, 115);
}

span {
  color: red;
  cursor: pointer;
}
